{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>

  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GameFitness</title>

  <!-- Bootstrap core CSS -->

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->

  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'homepage' %}">Game Fitness</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="{% url 'signin' %}">Register</a>
              <a class="dropdown-item" href="{% url 'login' %}">Already Registered? Sign In</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Exercises</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'homepage' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Exercises</li>
    </ol>

<form method="post" novalidate>
  {% csrf_token %}
  {% for exercise in exercisesList %}
   {% if exercise.game_id != game_id %}
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" >
              <input type="checkbox" aria-label="Checkbox for Exercise"/>
            </div>
          </div>
          <table width= "100%">
            <tr>
              <td>
                <a href="{{ exercise.video_link }}" >{{ exercise.exercise_list }}</a>
              </td>
              <td>
                <input type="label" value ="{{ exercise.bodypart }}" class="form-control">
              </td>
              <td>
                <input type="label" value ="{{ exercise.reps }}" class="form-control" >
              </td>
            </tr>
          </table>
        </div>
      </div>
   {% endif %}
  {% endfor %}

   <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Game Fitness 2019</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
<!-- <form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
<table>
    <tr>
        <th>games</th>
    </tr>
    {% for exercise in y %}
    <tr>
        <td>{{ exercise.games }}</td>
    </tr>
    {% endfor %}
</table>
</form> -->
