{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>

  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GameFitness</title>

  <!-- Bootstrap core CSS -->

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/CardButtonLayout.css' %}" rel="stylesheet">
  <!-- <link href="{% static 'css/modern-business.css' %}" rel="stylesheet"> -->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'homepage' %}">Game Fitness</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="{% url 'signin' %}">Register</a>
              <a class="dropdown-item" href="{% url 'login' %}">Already Registerd? Sign In</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Exercises</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'homepage' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Games</li>
    </ol>

    <form action = "/exercisesList" method="POST" >
    {% csrf_token %}
    <!-- Game Section -->
      <h2>Choose your Game</h2>
        <div class="card" style="border:1px;width: 120rem;">
         {% for individualGame in game %}
         <label class="list-group-item">
          <input type="radio" name="game_id" class="card-input-element d-none" id="game_id" value={{ individualGame.id }}>
           <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
             <h4 class="card-title">{{ individualGame.game_id }} </h4>
             <!--  <div class="card-body">
               <p class="card-text">{{ individualGame.game_description }}</p>
             </div> -->
           </div>
          </label>
          <!-- <div class="col-lg-4 col-sm-6 portfolio-item">
             <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{% static 'images/{{ individualGame.game_id }}.png' %}" alt=""> </img></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{ individualGame.game_id }}</a>
                </h4>
                <p class="card-text">{{ individualGame.game_description }}</p>
              </div>
            </div> -->
        {% endfor %}
      </div><br><br>
        <input type = "submit" class="btn btn-primary" value="Get Exercises">
        <br><br>
    </form>
</div>

<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Game Fitness 2019</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
